
.category {

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    max-width: 500px;
  }

  h1 {
    font-size: 1.1em;
    margin-bottom: 0;
  }

  button {
    white-space: nowrap;

    svg {
      font-size: 1.5rem;
      transition: ease-in .2s all;
    }
  }

  .active {
    transform: rotate(90deg);
    transition: ease-in .2s all;
  }

  .trophies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    gap: .5rem;
  }
}