@import '../../styles/variables.css';

.category {
  margin-bottom: 1rem;
  box-shadow: 0 2px 1px hsla(0, 0%, 16%, .4), 0 0 0 1px hsla(0,0%,9%,0.2);
  border-radius: 10px;
  padding: 1rem;
  min-width: 320px;

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    max-width: 500px;

    button {
      cursor: pointer;
    }
  }

  h1 {
    font-size: .7em;
    margin-bottom: 0;
  }

  button {
    white-space: nowrap;
    font-size: .6em;

    svg {
      font-size: 1.5rem;
      transition: ease-in .2s all;
    }
  }

  .active {
    transform: rotate(90deg);
    transition: ease-in .2s all;
  }

  .trophies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: .5rem;

    .short-li:nth-child(n+5) {
      display: none;
    }
  }
}

@media (min-width: 700px) {
  .category {
    .trophies {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

      /* must reset previous nth child rule */
      .short-li:nth-child(n+5) {
        display: flex;
      }
      
      /* then set the new one */
      .short-li:nth-child(n+6) {
        display: none;
      }
    }
  }
}

@media (min-width: 850px) {
  .category {
    .trophies {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

      /* must reset previous nth child rule */
      .short-li:nth-child(n+6) {
        display: flex;
      }

      /* then set the new one */
      .short-li:nth-child(n+7) {
        display: none;
      }
    }
  }
}

@media (min-width: 1000px) {
  .category {
    .trophies {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

      /* must reset previous nth child rule */
      .short-li:nth-child(n+7) {
        display: flex;
      }

      /* then set the new one */
      .short-li:nth-child(n+8) {
        display: none;
      }
    }
  }
}

@media (min-width: 1150px) {
  .category {
    .trophies {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

      /* must reset previous nth child rule */
      .short-li:nth-child(n+8) {
        display: flex;
      }

      /* then set the new one */
      .short-li:nth-child(n+9) {
        display: none;
      }
    }
  }
}